html, body {
	padding: 0; 
	margin: 0; 
}
.full-map
{
	width: 80%;
	height: 80%;
	margin: auto;
	position: relative;
}
#mapL {
	position:absolute !important;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    background-color: #fff;
}

#coords {
	position: absolute; 
	bottom: 0;
}
.probleme-none
{
	display: none;
}