/*GENERAL STYLE*/
*
{
  margin: 0px;
  padding: 0px;
}
html
{
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #242426;
  color: white;
}

body
{
  width: 100%;
  height: 100%;
}

.probleme-none
{
  display: none;
}

.containerIntro
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  z-index: 20;

}

.headerPage
{
  margin-top: 30px;
  display: flex;
  width: auto;
  text-align: center;
  z-index: 20;
  position: absolute;
  top: 0;
}

.logo
{
  height: 15%; 
  padding-top: 10px;
  min-width: 150px;
  min-height: 80px;
}

.containerIntro .headerPage img{
    height: 9%;
}


.intro
{
  z-index: 20;
}

.titleIntro
{
  text-align: center;
  padding-bottom: 20px;
  font-size: 30px;
}

.colorTitleIntro
{
  color: #FD9A2A;
}

.imgBackground
{
  width: 100%;
  height: 100%;
  position: absolute;
  top : 0;
  display: flex;
}

.txtIntro
{
  padding-bottom: 20px;
  font-size: 18px;
  margin-bottom: 20px;
}

.introBlock
{
  width: 500px;
  padding: 30px;
  text-align: center;
  background-color: rgba(27, 27, 27, 0.4);
  margin-top: 30vh;
  z-index: 20;
}

.buttonIntro
{
  text-decoration: none;
  font-size: 18px;
  color: #FD9A2A;
  text-transform: uppercase;
}


/* Popup explanation */
.infoPotdFull
{
  position: relative;
  position: fixed;
  background: red;
  bottom: 30px;
  right: 30px;
  z-index: 100;
}
.infoPotdIcon
{
  width: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.infoPotd
{
  width: 230px;
  padding: 15px;
  position: absolute;
  background: rgba(27, 27, 27, 0.6);
  font-size: 13px;
  opacity: 0;
  transform: scale(0.2) translateX(-100%) translateY(-100%);
  transform-origin: top left;
  transition: all 0.3s ease;
  will-change: tranform;
}
.infoPotdFull:hover .infoPotd
{
  opacity: 1;
  transform: scale(1) translateX(-100%) translateY(-100%);
}





/***ERROR/SUCESS MESSAGES ***/

.blocMessages
{
  position: relative;
}
.messages
{
  position: absolute;
  top : 0;
  margin-left: 20px;
}

.messages.success
{
  color: #87D37C;

}
.messages.errors
{
  color: #EC644B;

}
.error label
{
  color: #EC644B;
}


/***TIMELINE + MAP ***/

.data-year p
{
    font-size: 30px;
    display: inline-block;
}

.data-year
{
   margin-left:100px;    
}

.data-years-item
{
    margin-left: -10px;
}

.delete_space
{
    padding-left: -20px;
}

.data-number p{
    margin-top: -20px;
    
    font-size: 30px;
    display: inline-block;
}

.data-number-item
{
    margin-left:110px;
}

.data-number
{
    margin: 10px;
}

.containerLine
{
  width: 100%;
  height: 250px;
  margin-top: 120px;
}

.containerMap
{
  color: #222;
  width: 80%;
  margin: auto;
  height: 700px;
  margin-top: 50px;
}

/**TXT INFO **/

.containerInfo
{
    display: flex;
    flex-direction: row;
    height: 400px;
    text-align: justify;
    margin-top: 30px;
    z-index: 20;
}

.infoLine
{
  width: 40%;
  height: 2px;
  background-color: #FD9A2A ;
  z-index: 30;
  text-align: justify;
  justify-content: center;
  margin: auto;
}

.containerTxtInfo
{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-top: 100px;
  z-index: 30;
  justify-content: center;
}

.txtInfo
{
  z-index: 20;
  font-size: 21px;
  text-align: justify;
  width: 80%;
  padding: 86px;
  margin: auto;
}

.asteBloc
{
    font-size: 21px;
    margin-left:10px;
}

.meteBloc
{
    font-size: 21px;
    padding-top: -100px;
}

.comBloc
{
    font-size: 21px;
    margin-right: 150px;
}

/*.containerInfo .blocCanvas2{
    top: -50px;
}*/


.blocInfo:nth-child(2)
{
  align-self: flex-end;
}

.titleBlocInfo{
  color: #FD9A2A;
}

.blocInfo{
  padding: 30px;
  position: relative;
  min-width: 330px;
  z-index: 20;
  margin-left: 146px;
}

.blocInfo > p
{
  text-align: justify;
}


.pentagon
{
  position: relative;
  width: 54px;
  border-width: 50px 18px 0;
  border-style: solid;
  border-color: red transparent;
}

.pentagon:before
{
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: -85px;
  left: -18px;
  border-width: 0 45px 35px;
  border-style: solid;
  border-color: transparent transparent ;
}

#canvasInfo
{
  position: absolute;
  top: 0;
  left: 5;
}

/**Footer**/
.footer
{
  display: flex;
  height: 180px;
  width: 100%;
  background-color: black;
  margin-top: 50px;
}

.newsletterBloc
{
  flex: 2;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 90px;
  text-align: justify;
  border-collapse: collapse;
}
.margForm
{
    margin-left: 10px;
}

input
{
  background-color: transparent;
  border: none;
  border-collapse: collapse;
  font-size: 18px;
  color: #fff;

}

input:focus
{
  outline: none;
}

.subPut
{
  height: 25px;
  background-color: #434343;
  color: white;
  border-radius: 5px;
  margin-top: 3px;
  padding: 3px;
}

.validForm{
  background-color: darkorange;
  color: white;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 10px;
}

.mailForm
{
  width: 220px;
}
.subscribe
{
  height: 25px;
  width: 25px;
  border: 0 none;
}

.socialBloc
{
  flex: 1;
  margin: auto;
}

.social
{
  margin-bottom: 5px;
}
.socialLink
{
  margin: 9px;
}
.socialIcon
{
  height: 30px;
  width: 30px;
}
.txtNews
{
  font-size: 22px;
  padding-left: 5px;
}
  /* RESPONSIVE */
@media only screen and (min-width: 400px) and (max-width: 900px)
{
  .containerInfo
  {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
  }

  .blocInfo
  {
    padding-bottom: 70px;
  }
  canvas
  {
    display:none;
  }
  .footer
  {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .socialBloc
  {
    margin-top: 10px;
  }
  .newsletterBloc
  {
    text-align: center;
  }
}
